body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.kde_plot .circle {
	fill:#ff0000;
}
.kde_plot .grid line {
	stroke:#333;
	stroke-opacity:0.7;
}

.kde_plot .axis_label {
	font-size:16px;
	font-weight:bold;
}