body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.kde_plot .circle .data_point{
	fill:#ff0000;
}
.kde_plot .grid line {
	stroke:#333;
	stroke-opacity:0.7;
}

.kde_plot .axis_label {
	font-size:16px;
	font-weight:bold;
}

.kde_plot .plot_area {
	fill:'orange';
	fill-opacity:0.8;
}

.kde_plot .plot_line {
	fill:'#333';
	fill-opacity:0.8;
}

.kde_plot .median_line {
	stroke:'#f00';
	stroke-opacity:0.8;
	stroke-width:3;
}